<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to File Uploader </h1>
    <p>Login to your user <a href="/login">here</a></p>
    <p>Register <a href="/register">here</a></p>
</body>
</html>